.app {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: no-repeat center / cover fixed;
  overflow: auto;
  transition: all 300ms ease-out;

  .boards {
    display: flex;
    width: 100%;
  }
}