.list__image {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  overflow: auto;
  transition: all 300ms ease-out;

  label {
    width: 50%;
    height: 10vh;
    min-height: 150px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  input[type='radio'] {
    display: none;
  }
}